@model IEnumerable<LibraryModels.DataViewModels.ProductDTO>

<p>
    @Html.ActionLink("Add New Product", "AddProduct", new { author_pn = ViewBag.Author_PN })
</p>
@if (Model.Count() != 0)
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Annotation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Release_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Production)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsArchived)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Annotation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Release_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Production)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsArchived)
        </td>
        <td>
            @if (item.IsArchived)
            {
                @Html.ActionLink("Un-Archive", "ChangeArchiveStatus", new { isbn = item.ISBN }) 
            }
            else
            {
                @Html.ActionLink("Archive", "ChangeArchiveStatus", new { isbn = item.ISBN })
            }
        </td>
    </tr>
}
    
</table>
}
